<!-- About -> index.html.erb -->
<div class="body-wrapper container-fluid">
	<div class="info-body container">
		</br>
		<h3 style="text-align:center;">The Team</h3>
		<ul>
			<li>Vamsi Chunduru is a Masters student in Computer Science.</li>
			<li>Akshay Srivatsan is a junior undergraduate in Computer Science.</li>
			<li>Conan Chen is a senior undergraduate in Biomedical Engineering.</li>
		</ul>

		<h3 style="text-align:center;">The Project</h3>
		<p>This project aims to simulate the presidential debates we've been treated to throughout this current election cycle. By training Recurrent Neural Networks (RNN) on databases of the candidates' speeches, we deliver a conglomeration of your favorite candidates' talking points and rebukes on various topics of the day. We hope you enjoy!</p>

		<p>Work utilizes Google's Tensor Flow API for RNN implementation. Back-end processing and training performed in Python over the course of x hours. Front-end developed on the Ruby on Rails framework. </p>

	</div>
</div>