<!-- Debate update.html.erb -->

<div class="body-wrapper container-fluid">
	<div class="info-body container">
		
	<h3 style="text-align:center;">Generated Script</h3>

		<% p1 = @debate.p1 %>
		<% p2 = @debate.p2 %>
		<% sL = @debate.sL/1000.0 %>
		<%= `python lib/assets/pythontemplate/pythontemplate.py #{p1} #{p2} #{sL}` %>

		<%= render '/partials/sampletext' %>









	</div>

</div>
