<div class="body-wrapper container-fluid">
	<div class="info-body container">

		</br>
		</br>
		<h4 style="text-align:center;">An example of a script generated from our model. This one is a great example as it references topical elements of characters and setting, while presenting a script structure similar to that of the training data.</h4>
		<img src="/assets/GreatExample.jpg" class="img-thumbnail" style="width:100%;height:100%" onmouseover="bigImg(this)">
		</br>
		</br>
		</br>

		<h4 style="text-align:center;">An example of a section of the training script data.</h4>
		<img src="/assets/OriginalExample2.jpg" class="img-thumbnail" style="width:100%;height:100%" onmouseover="bigImg(this)">


	</div>

</div>