<!-- About -> index.html.erb -->
<div class="body-wrapper container-fluid">
	<div class="info-body container">
		</br>
		<h3 style="text-align:center;">The Team</h3>
		
		<p>Vamsi Chunduru is a current Masters student in Computer Science at Johns Hopkins University.</p>
		<p>Akshay Srivatsan is a current junior undergraduate in Computer Science at Johns Hopkins University.</p>
		<p>Conan Chen is a December 2015 B.S. graduate of Biomedical Engineering at Johns Hopkins University.</p>

		</br>

		<h3 style="text-align:center;">The Project</h3>
		<p>This project aims to simulate the speech patterns of the beloved Star Wars characters. By training Recurrent Neural Networks (RNN) on files of the Star Wars movie transcripts, we deliver a simulation of your favorite characters' personality, as shown through their language. We hope you enjoy!</p>

		<p>Our work utilizes Google's Tensor Flow API for RNN implementation. Back-end processing and training was performed in Python. Front-end presentation was developed on the Ruby on Rails framework. </p>

	</div>
</div>